<a href="https://colab.research.google.com/github/trinhvanypro1/-DataAnalystDeepLearning/blob/main/Colaboratory_ch%C3%A0o_m%E1%BB%ABng_b%E1%BA%A1n!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
s=pd.Series([12,-4,7,9])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

ex1:

In [2]:
import pandas as pd
s=pd.Series([12,-4,7,9], index=['a','b','c','d'])
print(s)

a    12
b    -4
c     7
d     9
dtype: int64

In [3]:
s.values

array([12, -4,  7,  9])

In [4]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Ex2:

In [5]:
data={'color':['blue','green','yellow','red','white'],
      'obj':['ball','pen','pencil','paper','mug'],
      'price':[1.2,1.0,0.6,0.9,1.7]}
frame=pd.DataFrame(data)
frame

    color     obj  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

Ex3:

In [7]:
frame2=pd.DataFrame(data, columns=['obj','price'])
frame2

      obj  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

Ex4:

In [10]:
frame2['type']='normal'
frame2

      obj  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

Ex5:

In [16]:
for i in range(len(frame)):
  if frame2['price'][i]>1.0:
    frame2.loc[i,'type']='so good'
frame2

      obj  price     type
0    ball    1.2  so good
1     pen    1.0   normal
2  pencil    0.6   normal
3   paper    0.9   normal
4     mug    1.7  so good

Ex6:

In [21]:
frame2['discount']=frame2['price']*2
frame2

      obj  price     type  discount
0    ball    1.2  so good       2.4
1     pen    1.0   normal       2.0
2  pencil    0.6   normal       1.2
3   paper    0.9   normal       1.8
4     mug    1.7  so good       3.4

Ex7:

In [26]:
frame2['after_discount']=frame2['price']-frame2['discount']
frame2

      obj  price     type  discount  after_discount
0    ball    1.2  so good       2.4            -1.2
1     pen    1.0   normal       2.0            -1.0
2  pencil    0.6   normal       1.2            -0.6
3   paper    0.9   normal       1.8            -0.9
4     mug    1.7  so good       3.4            -1.7

Ex8:

In [28]:
import pandas as pd
dulieuxettuyen=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv')
dulieuxettuyen.head(10)

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [47]:
import pandas as pd
heartDisease=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv',header=None)
heartDisease

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

ex9:

In [31]:
import pandas as pd
import numpy as np
frame=pd.DataFrame(np.arange(16).reshape(4,4),
                   index=['a','b','c','d'],
                   columns=['up','down','left','right'])
frame.to_json('frame.jsol')
jsolFrame=pd.read_json('frame.jsol')
print(jsolFrame)

   up  down  left  right
a   0     1     2      3
b   4     5     6      7
c   8     9    10     11
d  12    13    14     15

ex10:

In [43]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [53]:
import pandas as pd
ex12=pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example12.txt',sep=',',skiprows=[0,1,3,6])
ex12

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse