<a href="https://colab.research.google.com/github/trinhvanypro1/-DataAnalystDeepLearning/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
babies=pd.read_fwf('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/babies.txt')

In [7]:
babies.head(3)

     bwt  smoke
0  120.0    0.0
1  113.0    0.0
2  128.0    1.0

In [44]:
smoke=babies[babies['smoke']==1]
Q1 = smoke.quantile(0.25)
Q1

bwt      102.0
smoke      1.0
Name: 0.25, dtype: float64

In [9]:
nosmoke=babies[babies['smoke']==0]

In [10]:
unknown=babies[babies['smoke']==9]

In [11]:
def percentile(n):
  def percentile_(x):
    return np.percentile(x,n)
  percentile_.__name__= 'percentile_%s' %n
  return percentile_

In [52]:
def IQR(x):
  return np.subtract(*np.percentile(x, [75, 25]))

In [63]:
def Kurtosis(x):
  return np.kurtosis(x)

In [67]:
table_smoke=babies[babies.smoke.isin(['0','1','9'])].groupby(['smoke']).agg({'count','var','min','max','mean','std','median',percentile(0),percentile(25),percentile(50),percentile(75),IQR,'skew'})

In [68]:
table_smoke

         bwt                            ...
         max percentile_50         var  ... percentile_75        mean   min
smoke                                   ...
0.0    176.0         123.0  302.714371  ...        134.00  123.047170  55.0
1.0    163.0         115.0  327.571835  ...        126.00  114.109504  58.0
9.0    158.0         128.0  475.788889  ...        141.75  126.700000  90.0

[3 rows x 13 columns]