<a href="https://colab.research.google.com/github/trinhvanypro1/-DataAnalystDeepLearning/blob/main/Lab7_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
#Hàm để hieenrt hị các tấm ảnh
import matplotlib.pyplot as plt
#Chọn ngẫu nhiên các tấm ảnh
import random
#Load dữ liệu trong tập mẫu
from keras.datasets import mnist
#Hàm xây dựng mô hình neural
#Thêm 1 lớp, thêm hàm kích haojt activation
from keras.models import Sequential
from keras.utils import np_utils
from keras.layers.core import Dense, Activation

In [5]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/carpricesdata.csv')
df.head(5)

   Age     KM  Weight  HP  MetColor    CC  Doors  Price
0   23  46986    1165  90         1  2000      3  13500
1   23  72937    1165  90         1  2000      3  13500
2   24  41711    1165  90         1  2000      3  13950
3   26  48000    1165  90         0  2000      3  14950
4   30  38500    1170  90         0  2000      3  13750

In [7]:
Prediction_Obj = ['Age','KM', 'Weight','HP','MetColor','CC','Doors']
Prediction_Values = ['Price']

In [8]:
x=pd.DataFrame(df,columns=Prediction_Obj)
y=pd.DataFrame(df,columns=Prediction_Values)

In [ ]:
#Khởi tạo mô hình
model.add(Dense(5,input_dim=7))