<a href="https://colab.research.google.com/github/trinhvanypro1/-DataAnalystDeepLearning/blob/main/Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
patient_heart_rate=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv')
patient_heart_rate.head(3)

     1    Mickéy Mousé    56      70kgs  72  69  71   - -.1 -.2
0  2.0     Donald Duck  34.0  154.89lbs   -   -   -  85  84  76
1  3.0      Mini Mouse  16.0        NaN   -   -   -  65  69  72
2  4.0  Scrooge McDuck   NaN      78kgs  78  79  72   -   -   -

Comment: patient_heart_rate data missing header

a. Add columns name for dataframe with information such as: (ID, Name, Age, Weight, m006,m0612,m1218, f006, f0612,f1218)

In [4]:
patient_heart_rate=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv', names=['ID','Name','Age','Weight','m006','m0612','m1218','f006','f0612','f1218'])
patient_heart_rate.head(5)

    ID            Name   Age      Weight m006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs   72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs    -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN    -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs   78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs    -     -     -   69   NaN    75

2. Multi-variables in one columns

In [6]:
patient_heart_rate[['First Name','Last Name']]=patient_heart_rate['Name'].str.split(' ',expand=True)

In [7]:
patient_heart_rate.head(5)

    ID            Name   Age      Weight  ... f0612 f1218 First Name Last Name
0  1.0    Mickéy Mousé  56.0       70kgs  ...     -     -     Mickéy     Mousé
1  2.0     Donald Duck  34.0   154.89lbs  ...    84    76     Donald      Duck
2  3.0      Mini Mouse  16.0         NaN  ...    69    72       Mini     Mouse
3  4.0  Scrooge McDuck   NaN       78kgs  ...     -     -    Scrooge    McDuck
4  5.0    Pink Panther  54.0  198.658lbs  ...   NaN    75       Pink   Panther

[5 rows x 12 columns]

In [9]:
del patient_heart_rate['Name']
patient_heart_rate.head(3)

    ID   Age     Weight m006 m0612 m1218 f006 f0612 f1218 First Name Last Name
0  1.0  56.0      70kgs   72    69    71    -     -     -     Mickéy     Mousé
1  2.0  34.0  154.89lbs    -     -     -   85    84    76     Donald      Duck
2  3.0  16.0        NaN    -     -     -   65    69    72       Mini     Mouse